* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fffaf5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

/* =============  Common  ============ */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 14px;
    background-color: var(--primary-color);
}

.header .nav {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 12px;
}

.nav__item {
    padding: 12px;
}

.nav__item a {
    color: #5e6085;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.btn-sign-up {
    display: inline-block;
    width: 117px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #000958;
    line-height: 50px;
    text-align: center;
    color: #000958;
    font-size: 14px;
    font-weight: 600;
}

/* =============  Hero  ============ */

.hero {
    margin-top: 100px;
    padding-bottom: 77px;
}

.hero .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero .hero__img {
    height: 582px;
    position: relative;
}

.hero__img--main {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img--sub {
    padding-top: 20px;
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
}

.hero__img--icon {
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    transform: translateX(50%);
}

.hero__content {
    padding-left: 68px;
}
.hero-heading {
    color: #000958;
    font-family: "Sora";
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px; /* 115.152% */
}

.hero-desc {
    margin-top: 24px;
    padding-right: 100px;
    color: #656689;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.hero .action {
    margin-top: 38px;
}

.hero .btn {
    display: inline-block;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.hero .btn-schedule {
    margin-left: 24px;
    color: #000958;
    font-weight: 500;
    line-height: 16px; /* 100% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
}

/* // Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
